<div style="text-align:center">
  <ul>
    <li *ngFor="let movie of movies">
      <h2>
        {{ movie.title }}
      </h2>
      <p>
        <img 
          width="240" 
          height="360"
          alt="Poster {{movie.title}}" 
          src="{{imageSrc + movie.poster_path}}"
        >
      </p>
      <p>
          <input 
            [value]="movie.title"
            (input)="movie.title=$event.target.value" 
          >
      </p>
      <p>
        <button (click)="onClick(movie.title)">
          Click
        </button> 
        <button (click)="clickIt()">
          <span (click)="clickIt($event)">
            Foo
          </span>
        </button> 
        <button (click)="clickIt()">
          <span (click)="clickIt()">
            Bar
          </span>
        </button>
      </p>
    </li>
  </ul>
</div>
